<section class="particles-container">
  <section class="particles">
    <ng-particles
      [id]="id"
      [options]="options"
      [particlesInit]="particlesInit"
    ></ng-particles>
  </section>
</section>

<style>

</style>

<section class="profile-photo-container">
  <section class="profile-photo-border">
    <section class="profile-photo">
      <img src="assets/avatar/amilkar.png" alt="avatar">
    </section>
  </section>
</section>


<section class="title-container">
  <div class="name">Amilkar Dominguez</div>
  <div class="developer">Developer</div>
  <section class="social-container">
    <a href="https://www.behance.net/amilkardominguez" target="_blank">
      <img src="assets/svg/logo-behance.svg" alt="behance">
    </a>
    <a href="https://github.com/AmilkarDominguez" target="_blank">
      <img src="assets/svg/logo-github.svg" alt="github">
    </a>

    <a href="https://www.linkedin.com/in/amilkar-dominguez/" target="_blank">
      <img src="assets/svg/logo-linkedin.svg" alt="linkedin">
    </a>
<!--    <a href="https://twitter.com/AmilkarDS" target="_blank">-->
<!--      <img src="assets/svg/logo-twitter.svg" alt="twitter">-->
<!--    </a>-->
    <a href="https://www.youtube.com/channel/UCqUkGlGXnk2pmnYEd7Rcx4g" target="_blank">
      <img src="assets/svg/logo-youtube.svg" alt="youtube">
    </a>
    <a href="https://www.facebook.com/DominguezAmilkar/" target="_blank">
      <img src="assets/svg/logo-facebook.svg" alt="facebook">
    </a>

    <a style="text-decoration: none; color: white; font-size: 1rem" href="https://www.canva.com/design/DAErtNHNwBg/ruQpG8ElcoMaYnHDUdwrTw/view?utm_content=DAErtNHNwBg&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank">
      CV
    </a>
  </section>
</section>
