<section class="card-container">
  <h3>Pase el ratón por encima de la tarjeta...</h3>

  <div class="flip-card">
    <div class="flip-card-inner">

      <div class="flip-card-front">
        <p>Hola, mi nombre es Amilkar Dominguez, soy ingeniero en sistemas de profesión, tan bien diseñador gráfico, apasionado por la tecnología y el arte.</p>
        <p>Desarrollador de Software - Full Stack</p>
        <p>Estas son algunas de mis skills como desarrolador:</p>


        <h2><strong>Backend :</strong></h2>
        SQL Server<br>
        MySQL<br>
        PostgresSQL<br>
        PHP - Laravel<br>
        C# - .Net Core<br>
        Java - Spring Boot<br>

        <h2><strong>Frontend :</strong></h2>
        HTML<br>
        CSS - SASS<br>
        JavaScript - TypeScript<br>
        Angular - Ionic<br>
        Swift<br>
        <br>
        <br>
        <br>

      </div>

      <div class="flip-card-back">
        <p>Actualmente tengo 29 años, personalmente me gusta mucho estar en varios proyectos y colaborar en comunidades, tambien soy miembro Organizer de GDG - Tarija, me gusta hacer música tengo afición por tocar el saxofón, me gusta mucho los animales y compartir mi tiempo con mi familia y amigos.</p>


        <h2><strong>Ventajas :</strong></h2>
        Extrovertido<br>
        Creativo<br>
        Colaborativo<br>
        Pro activo<br>
        Buen humor<br>
        Optimizta<br>

        <h2><strong>Desventajas :</strong></h2>
        Perfecionista<br>
        Detallista<br>
        Muy analítico<br>
        Demasiado ocupado<br>
      </div>
    </div>
  </div>
</section>
