html,
body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: "Nunito Sans Black";
}
//.main-container {
//  height: 100vh;
//  //background-color: #202020;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  font-size: 36pt;
//}

